# Environment
.python-version
.venv
backend/venv/
backend/.venv/
.env
backend/.env
frontend/.env
venv

# npm packages 
node_modules/
frontend/node_modules

# IDE folders
.vscode/
.idea/

# pychache
__pycache__
